.hero{
    width: 1500px;
    height: 700px;
    background: linear-gradient(
        90deg,
        rgba(2, 3, 61, 0.8) 0%,
        rgba(0, 168, 255, 0.8) 100%
    ),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5uoY-6bJyGxzbtGDAGyUUu2Q_7nse9y-0Kg&s");
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
}
.hero2{
    display: flex;
    justify-content: center;
}